{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font text-white mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col text-white">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                    </div>
                    <table class="table table-sm table-borderless">
                        <thead class="text-white logo-font">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr class="text-white">
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    <p class="my-0">{{ item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <div id="smart-button-container">
                                    <div style="text-align: center"><label for="description"> </label><input type="text" name="descriptionInput" id="description" maxlength="127" value=""></div>
                                      <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
                                    <div style="text-align: center"><label for="amount"> </label><input name="amountInput" type="number" id="amount" value="" ><span> GBP</span></div>
                                      <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
                                    <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" ></div>
                                      <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
                                    <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
                                  </div>
                                  <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=GBP" data-sdk-integration-source="button-factory"></script>
                                  <script>
                                  function initPayPalButton() {
                                    var description = document.querySelector('#smart-button-container #description');
                                    var amount = document.querySelector('#smart-button-container #amount');
                                    var descriptionError = document.querySelector('#smart-button-container #descriptionError');
                                    var priceError = document.querySelector('#smart-button-container #priceLabelError');
                                    var invoiceid = document.querySelector('#smart-button-container #invoiceid');
                                    var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
                                    var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');
                                
                                    var elArr = [description, amount];
                                
                                    if (invoiceidDiv.firstChild.innerHTML.length > 1) {
                                      invoiceidDiv.style.display = "block";
                                    }
                                
                                    var purchase_units = [];
                                    purchase_units[0] = {};
                                    purchase_units[0].amount = {};
                                
                                    function validate(event) {
                                      return event.value.length > 0;
                                    }
                                
                                    paypal.Buttons({
                                      style: {
                                        color: 'gold',
                                        shape: 'pill',
                                        label: 'paypal',
                                        layout: 'vertical',
                                        
                                      },
                                
                                      onInit: function (data, actions) {
                                        actions.disable();
                                
                                        if(invoiceidDiv.style.display === "block") {
                                          elArr.push(invoiceid);
                                        }
                                
                                        elArr.forEach(function (item) {
                                          item.addEventListener('keyup', function (event) {
                                            var result = elArr.every(validate);
                                            if (result) {
                                              actions.enable();
                                            } else {
                                              actions.disable();
                                            }
                                          });
                                        });
                                      },
                                
                                      onClick: function () {
                                        if (description.value.length < 1) {
                                          descriptionError.style.visibility = "visible";
                                        } else {
                                          descriptionError.style.visibility = "hidden";
                                        }
                                
                                        if (amount.value.length < 1) {
                                          priceError.style.visibility = "visible";
                                        } else {
                                          priceError.style.visibility = "hidden";
                                        }
                                
                                        if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
                                          invoiceidError.style.visibility = "visible";
                                        } else {
                                          invoiceidError.style.visibility = "hidden";
                                        }
                                
                                        purchase_units[0].description = description.value;
                                        purchase_units[0].amount.value = amount.value;
                                
                                        if(invoiceid.value !== '') {
                                          purchase_units[0].invoice_id = invoiceid.value;
                                        }
                                      },
                                
                                      createOrder: function (data, actions) {
                                        return actions.order.create({
                                          purchase_units: purchase_units,
                                        });
                                      },
                                
                                      onApprove: function (data, actions) {
                                        return actions.order.capture().then(function (orderData) {
                                
                                          // Full available details
                                          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                
                                          // Show a success message within this page, e.g.
                                          const element = document.getElementById('paypal-button-container');
                                          element.innerHTML = '';
                                          element.innerHTML = '<h3>Thank you for your payment!</h3>';
                                
                                          // Or go to another URL:  actions.redirect('thank_you.html');
                                          
                                        });
                                      },
                                
                                      onError: function (err) {
                                        console.log(err);
                                      }
                                    }).render('#paypal-button-container');
                                  }
                                  initPayPalButton();
                                  </script>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase text-white">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}