<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Twist Pen</a>
                <a href="" class="dropdown-item ">Rollerball</a>
                <a href="" class="dropdown-item ">Fountain Pen</a>
                <a href="" class="dropdown-item ">Twist Pen with Touch</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pencils
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Sets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Pen and Pencil</a>
                <a href="" class="dropdown-item">Pen and Letter Opener</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Key Rings
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clips
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Gold</a>
                <a href="" class="dropdown-item ">Silver</a>
                <a href="" class="dropdown-item ">Gun Metal</a>
                <a href="" class="dropdown-item ">Black Stripe</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Woods
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">African Padauk</a>
                <a href="" class="dropdown-item">Ash</a>
                <a href="" class="dropdown-item">Beech</a>
                <a href="" class="dropdown-item">Bubinga</a>
                <a href="" class="dropdown-item">Cherry(American)</a>
                <a href="" class="dropdown-item">Cherry,(English)</a>
                <a href="" class="dropdown-item">Cocobola</a>
                <a href="" class="dropdown-item">Elm</a>
                <a href="" class="dropdown-item">Holly</a>
                <a href="" class="dropdown-item">Laburnum</a>
                <a href="" class="dropdown-item">Mahogany</a>
                <a href="" class="dropdown-item">Maple</a>
                <a href="" class="dropdown-item">Oak</a>
                <a href="" class="dropdown-item">Pau Amarello</a>
                <a href="" class="dropdown-item">Pau Rosa</a>
                <a href="" class="dropdown-item">Purpleheart</a>
                <a href="" class="dropdown-item">Walnut,(American)</a>
                <a href="" class="dropdown-item">Walnut,(English)</a>
                <a href="" class="dropdown-item">Yew</a>
                <a href="" class="dropdown-item">Zebrano</a>
            </div>
        </li>
    </ul>
</div>